<!DOCTYPE html>
<html>
	<head>
		<title>Pragprog Books Online Store</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body class='<%= controller.controller_name %>'>
		<div id="banner">
			<%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf', class: 'logo' %>
			<span class="title"><%= @page_title %></span>
		</div><!-- /#banner -->
		<div id="columns">
			<div id="side">
				<ul>
					<li><%= link_to "Home", store_index_url %></li>
					<li><a href="http://www.url.com">Question</a></li>
					<li><a href="http://www.url.com">News</a></li>
					<li><a href="http://www.url.com">Contact</a></li>
				</ul>
			</div><!-- #side -->
			<div id="main">
				<%= yield %>
			</div>
		</div><!-- /#columns -->
	</body>
</html>
